body {
    font-size: 1em !important;
}

/* General Button Styling */

/* Background Colors */
.bg-fgo-rare {
    background-color: #B9B9B9 !important;
}

.bg-fgo-common {
    background-color: #908067 !important;
}

/* Button Group Styling */

.btn-xs {
    padding: 0.2rem 0.3rem;
    font-size: 0.775rem;
    line-height: 0.4;
    border-radius: 0.15rem;
    margin-bottom: 5px;
}

/* Class Icon Box Styling */
.class_icon_box {
    border-right: 1px dashed #333;
}

/* Member Container Styling */
div.member-outer {
    padding: 3px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.member-container {
    white-space: nowrap !important;
    position: relative;
    text-align: center;
    color: white;
    cursor: pointer;
    user-select: none;
}

div.member-container > img {
    opacity: 0.25;
    filter: grayscale(70%);
    text-shadow: none !important;
}

div.member-checked {
    background: linear-gradient(135deg, transparent 10%,
                rgb(86, 180, 239) 0) top left,
                linear-gradient(225deg, transparent 10%,
                rgb(86, 180, 239) 0) top right,
                linear-gradient(315deg, transparent 3%,
                rgb(86, 180, 239) 0) bottom right,
                linear-gradient(45deg, transparent 3%,
                rgb(86, 180, 239) 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 
                0 0 8px rgba(82, 168, 236, 0.6),
                0 0 8px rgba(82, 168, 236, 0.6) inset;
    border-radius: 10% 10% 3% 3%;
}

div.member-checked > img {
    opacity: 1 !important;
    filter: grayscale(0%) !important;
}

/* Text Styling */
div.member-np,
div.member-mashu,
div.member-locked,
div.member-limited,
div.member-eventonly {
    position: absolute;
    bottom: 5%;
    left: 5%;
    text-shadow: 1px 1px 10px #000, 1px 1px 10px #ccc;
}

div.member-np {
    left: auto;
    right: 5%;
	text-shadow: 
     1px   0  0   #000, 
    -1px   0  0   #000, 
     0    1px 0   #000, 
     0   -1px 0   #000, 
     1px  1px 0   #000, 
    -1px -1px 0   #000, 
     1px -1px 0   #000, 
    -1px  1px 0   #000,
	1px 1px 10px #000,
	1px 1px 10px #ccc;
}

div.member-mashu {
    color: #aaa;
}

div.member-locked {
    color: #F1D65B;
}

div.member-limited {
    color: #636E7D;
}

div.member-eventonly {
    color: #4EB2D8;
}

.header-shadow {
    color: #FFF;
    text-shadow: 1px 1px 10px #000, 1px 1px 10px #ccc;
}


/* Navbar Styling */
.navbar a {
    color: #BBBBFF;
}

/* Media Queries for Mobile */
@media (max-width: 550px) {
    #statsContainer {
        transform-origin: top center !important;
        transform: scale(0.6) !important;
        margin-bottom: -6em !important;
    }

    #noticeBoard {
        width: 90% !important;
    }
}

/* Centering and Layout Adjustments */
.listbox,
.statsBox {
    justify-content: center;
    margin: auto;
}

.statsColumn {
    max-width: 49.5%;
    white-space: nowrap;
}

/* Overwriting the GODDAMN flex structure from _grid.css
   so stuff is ACTUALLY visible on small screens */
.col-1 { 
    flex: 0 0 82px;
    max-width: 82px;
}

#statsContainer {
    margin: 0 auto;
    padding: 0;
    max-width: 90%;
    table-layout: auto;
}

.centerText {
    text-align: center;
}

/* Print Styling */
@media print {
    #card-body, #footer {
        display: none;
    }
}

#card-body {
    text-align: center;
    padding: 0;
    justify-content: center !important;
    max-width: 75% !important;
    margin: 0 auto;
}

/* Loading Modal */
#loadingModal .modal-body {
    background-color: black;
}

/* Animation */
#fou {
    animation: runningFou 1s steps(4) infinite;
}

@keyframes runningFou {
    0% {
        content: url('../img/fou1.png');
    }
    25% {
        content: url('../img/fou2.png');
    }
    50% {
        content: url('../img/fou3.png');
    }
    75% {
        content: url('../img/fou4.png');
    }
}

/* Form and Button Options */
.form-group {
    margin-bottom: 0 !important;
}

.btn-options {
    margin-bottom: 5px !important;
    padding: 5px 20px !important;
    min-width: 9em;
}

#headerCard {
    border: none;
}

#optionsAndButtons {
    margin: auto !important;
    align-content: center !important;
    vertical-align: middle !important;
}

#toggleUnitTypesButton {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    margin: auto;
}

.form-check-input {
    position: relative;
 }

.JPdisabled {
    pointer-events: none;
    opacity: 0.5;
    text-decoration: line-through;
}

#statsTitle {
    margin-top: 2%;
}

/* Notice Board */
#noticeBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    border: 2px solid;
    border-radius: 10%;
    padding: 2%;
    margin: 0 auto;
    margin-bottom: 2%;
    background-color: white;
    text-align: justify;
    text-justify: inter-word;
}

#rmvNotice {
    text-align: center;
    cursor: grab;
    font-weight: bold;
}

/* New Feature Styling */
td {
    line-height: normal;
    white-space: nowrap;
}

.newFeature {
    display: inline !important;
    white-space: nowrap;
}    

.newFeature::after {
    content: 'NEW!';
    background-color: red;
    color: white;
    padding: 0.6% 1%;
    animation: blink 0.5s step-start infinite;
    font-variant-caps: all-small-caps;
    padding-top: 0;
    padding-bottom: 3px;
    display: inline !important;
    white-space: nowrap;
}

@keyframes blink {
    50% {
        color: transparent;
    }
}

/* Hamburger menu stuff */
.hamburger-button {
    position: fixed;
    top: 12%;
    left: 0px;
    font-size: 60px;
    cursor: pointer;
    z-index: 1045; /* On top of everything except modals */
    width: 59px;
    height: 64px;
    background-image: url('../img/burger-menu.png');
    background-position: 0 0;
}

.hamburger-button:hover, .hamburger-button-open {
    background-position: 0 -64px !important;
}

.hamburger-menu {
    position: fixed;
    top: 0;
    left: -500%; /* Hidden by default */
    width: 400px;
    height: 100%;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1040; /* Behind the button and other dialogs */
    padding-top: 10px;
}

.hamburger-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.hamburger-menu a:hover {
    color: #f1f1f1;
}

/* When menu is expanded */
.hamburger-menu.active {
    left: 0;
}

.burger-buttons {
    margin-left: 75px !important;
}

.burger-select {
    margin-left: 170px;
    margin-bottom: 5px;
}

.hamburger-menu-button, .hamburger-menu-button > a,
.hamburger-menu-button:hover, .hamburger-menu-button:hover > a:hover,
.hamburger-menu-button:focus, .hamburger-menu-button:focus > a:focus,
.hamburger-menu-button:active, .hamburger-menu-button:active > a:active {
    background: url('../img/hamburger/hamburger_button_back.png');
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    background-position: 0 0;
    width: 258px;
    height: 73px;
    transition: none !important;
}

.hamburger-menu-button:hover {
    background-position: 0 -73px !important;
}

.disabled-link {
    filter: grayscale(100%);
}

.disabled-link a {
    filter: grayscale(100%);
}

/* Add some background darkening when the menu is active */
#darkener {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 999;
    pointer-events: none;
    display: flex;
}

.visible-darkener { 
    transition: opacity 0.5s ease;
    opacity: 1 !important;
    pointer-events: all !important;
}

.container { max-width: 80% !important; }

#burger-select-image {
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
    animation-iteration-count: infinite;
    margin-bottom: 20px !important;
}

@keyframes bounce {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(0, 25px, 0); }
}